{%  extends "base.html" %}
{%  load static %}
{% block content %}

<div id="module_home">

  <div class="padding">
    <div class="container-fluid" id="underlay">
        <div class="module-text">
            <h1>Team2 teststand</h1>
        </div>
    </div>
  </div>

<div class="padding">
  <div class="container-fluid">
      <div class="row justify-content-center">

        <div class="container underlay">

            <h3>Sæt solpanel vinkel</h3>

        </div>

      </div>
  </div>
</div>

</div>

{% endblock content %}

